// mixins
@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin gridRC($row, $colS, $colE) {
  grid-row: $row;
  grid-column-start: $colS;
  grid-column-end: $colE;
}

@mixin widthHeight($w, $h) {
  width: $w;
  height: $h;
}

* {
  box-sizing: border-box;
}

body,
ul,
li,
figure,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
