.match__item {
  display: grid;
  align-items: center;

  &:hover {
    box-shadow: 0px 4px 12px #63709312;
  }
}

.match__item_inner {
  padding: 8px 16px 16px 16px;
}

.match__item-el {
  font: var(--font-m-w400);
}

.match__item-el_grey {
  color: var(--color-secondary);
}

.match__item-el_black,
.match__item-points {
  color: var(--color-primary);
}

.match__item-el_end {
  margin-left: auto;
}

.match__icon {
  @include widthHeight(24px, 24px);
}

.match__item-number-reverse,
.match__item-number,
.match__item-points {
  font: var(--font-l-w900);
}

.match-btn::before {
  content: "";
  background-image: url("../images/icons/forecastIcon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 16px;
  height: 16px;
}

.match__calendar-btn {
  padding-top: 1px;

  &::before {
    content: "";
    background-image: url("../images/icons/calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
  }
}

// MEDIA SCREEN Mobile from 320px to 1023px
@media screen and (max-width: 1023px) {
  .match {
    margin-bottom: 53px;
  }
  .match__list {
    max-width: 336px;
    margin-bottom: 26px;
  }

  .match__item {
    height: 121px;
    // align-items: start;
    align-items: center;
    grid-template-columns: 1.3fr 1fr;
    margin-bottom: 12px;
  }

  .match__item-el:first-child {
    @include gridRC(1, 1, 1);
  }

  .match__item-el:nth-child(2) {
    @include gridRC(2, 1, -1);
  }
  .match__item-el:nth-child(4) {
    @include gridRC(3, 1, -1);
  }
  .match__item-el:nth-child(5) {
    @include gridRC(1, 2, 2);
  }

  .match__item-el_grey {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 12px;

    &::after {
      content: "";
      border: 0.5px solid var(--bg-secondary);
      position: absolute;
      bottom: 0;
      left: -16px;
      width: 336px;
    }
  }

  .match__item-el_hide {
    display: none;
  }

  .match__item-el_s {
    @include flex(space-between);
  }

  .match-btn {
    margin-bottom: 20px;
  }

  .match-header__title {
    margin-bottom: 24px;
  }

  .match__item-name,
  .match__item-name-reverse {
    gap: 8px;
  }
}

// MEDIA SCREEN Desktop from 1024px to max
@media screen and (min-width: 1023px) {
  .match {
    @include gridRC(2, 2, 2);
  }

  .match__header {
    margin-bottom: 25px;
  }

  .navigation {
    margin-left: 40px;
  }

  .match__calendar-btn {
    margin-left: 56px;
  }

  .match__list {
    max-width: 840px;
  }

  .match__item {
    height: 55.9px;
    grid-template-columns: 2fr 2fr 0.2fr 2fr 2fr;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .match__item_inner {
    padding: 14px 16px 14px 16px;
  }

  .match__item-el_l,
  .match__item-name-reverse {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    align-items: center;
  }

  .match__item-name,
  .match__item-number-reverse,
  .match__icon-reverse {
    @include gridRC(1, 2, 2);
  }
  .match__item-number,
  .match__item-name-reverse {
    @include gridRC(1, 1, 1);
  }

  .match__item-el_hide,
  .match__item-number,
  .match__item-number-reverse {
    text-align: center;
  }

  .match__item-name-reverse {
    justify-content: end;
    gap: 8px;
  }
  .match__item-name-reverse,
  .match__item-name {
    gap: 8px;
  }

  .match__icon {
    @include widthHeight(28px, 28px);
  }
}
