.match__header {
  margin-bottom: 31px;
}

.match__navigation-body {
  @include flex(start);
  gap: 40px;
}

.match__item {
  display: grid;
  align-items: center;

  &:hover {
    box-shadow: 0px 4px 12px #63709312;
  }
}

.match__item_inner {
  padding: 8px 16px 16px 16px;
}

.match__item-el {
  font: var(--font-m-w400);
}

.match__text-bold {
  font: var(--font-m-w700);
  text-transform: uppercase;
}

.match__item-el_grey {
  color: var(--color-secondary);
}

.match__item-el_black,
.match__item-points {
  color: var(--color-primary);
}
.match__item-el_orange {
  color: var(--color-accent);
}

.match__item-el_lightGrey {
  color: var(--color-secondary30);
}

.match__item-el_end {
  margin-left: auto;
}

.match__item-name {
  gap: 8px;
}

.match__icon {
  background-image: url("../images/matchLogos/matchLogos_sprites.png");
  background-repeat: no-repeat;
  background-size: 690% auto;
  @include widthHeight(24px, 24px);
}

.match__score-number,
.match__item-points {
  font: var(--font-l-w900);
}

.match-btn::before {
  content: "";
  background-image: url("../images/icons/forecastIcon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 16px;
  height: 16px;
}

.match__calendar-btn {
  padding-top: 1px;
  background-color: transparent;
  color: var(--color-blue);

  &::before {
    content: "";
    background-image: url("../images/icons/calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
  }
}

// MEDIA SCREEN Mobile from 320px to 1023px
@media screen and (max-width: 1023px) {
  .match {
    margin-bottom: 53px;
  }

  .navigation-scroll {
    height: 21px;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
  }

  .match__navigation-body {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .match__list {
    max-width: 336px;
    margin-bottom: 26px;
  }

  .match__item {
    height: 121px;
    align-items: center;
    margin-bottom: 12px;
  }

  .match__item {
    row-gap: 8px;
  }

  .match__item-el:first-child {
    @include gridRC(1, 1, 1);
  }

  .match__item-el:nth-child(2) {
    @include gridRC(2, 1, 1);
    padding-top: 6px;
  }

  .match__item-el:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 8px;
    padding-top: 6px;
  }

  .match__score-text {
    @include flex(start);
    flex-direction: row-reverse;
    gap: 8px;
    font: var(--font-l-w400);
  }

  .match__item-el:nth-child(4) {
    @include gridRC(3, 1, 1);
  }

  .match__item-el:nth-child(5) {
    @include gridRC(1, 2, 2);
  }

  .match__item-line {
    position: relative;

    &::after {
      content: "";
      border: 0.5px solid var(--bg-secondary);
      position: absolute;
      bottom: -8px;
      left: -16px;
      width: 336px;
    }
  }

  .match__item-el_hide {
    display: none;
  }

  .match__item-el_s {
    @include flex(space-between);
  }

  .match-header__title {
    margin-bottom: 24px;
  }

  .match-btn {
    padding: 0;
    background-color: transparent !important;
  }
}

// MEDIA SCREEN Desktop from 1024px to max
@media screen and (min-width: 1023px) {
  .match {
    @include gridRC(2, 2, 2);
  }

  .match__header {
    margin-bottom: 25px;
  }

  .match__calendar-btn {
    margin-left: 16px;
  }

  .match__list {
    max-width: 840px;
  }

  .match__item {
    height: 55.9px;
    grid-template-columns: 0.8fr 1.2fr 0.4fr 1.2fr 0.8fr;
    gap: 6px;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .match__item_inner {
    padding: 8px 16px 8px 16px;
  }

  .match__item-el_l {
    @include flex(end);
    gap: 20px;
  }

  .match__item-el_l-reverse {
    @include flex(start);
    flex-direction: row-reverse;
    gap: 20px;
  }

  .match__score {
    @include flex(center);
    gap: 6px;
    text-align: center;
  }

  .match__item-el_hide {
    text-align: center;
  }

  .match__score-text {
    font: var(--font-m-w400);
    line-height: var(--line12);
    padding-top: 0;
  }

  .match__item-icon-reverse {
    flex-direction: row-reverse;
  }

  .match__icon {
    @include widthHeight(28px, 28px);
    background-size: 710% auto;
  }
}
