.leagues__title {
  margin-bottom: 16px;
}

.leagues__body {
  padding: 16px;
  height: 595px;
}

.leagues__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block_row {
  @include flex(start);
}

.leagues__list-item {
  gap: 8px;
  font: var(--font-m-w600);
  cursor: pointer;
}

.leagues__list-item_default {
  color: var(--color-primary);

  &:hover {
    color: var(--color-blue);
  }
}

.leagues__icon {
  background: url("../images/topLeagues/leagues_sprites.png");
  background-repeat: no-repeat;
  background-size: 140px 28px;
  width: 20px;
  height: 20px;
}

// MEDIA SCREEN Mobile from 320px to 1023px
@media screen and (max-width: 1023px) {
  .leagues {
    margin-bottom: 77px;
  }

  .leagues__body {
    width: 336px;
  }

  .leagues__list {
    margin-bottom: 20px;
  }
}

// MEDIA SCREEN Desktop from 1024px to max
@media screen and (min-width: 1023px) {
  .leagues {
    @include gridRC(2, 2, 1);
    width: 264px;
  }

  .leagues__title {
    text-align: start;
    margin-bottom: 25px;
  }

  .leagues__body {
    margin-left: 0;
  }

  .leagues__list {
    margin-bottom: 25px;
  }

  // .leagues__list {
  //   width: 264px;
  // }
}
