@import "~normalize.css";
@import "./generalConfig.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./s1-forecasts.scss";
@import "./s2-match.scss";
@import "./s3-topLeagues.scss";

body {
  background-color: var(--bg-secondary);
}

// -----Shared styles
.title-font {
  font: var(--font-xl-w900);
  text-align: center;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 7px;
    height: 16px;
    border-radius: 1px;
    background-color: var(--color-accent);
    display: inline-block;
    transform: skew(-25deg);
    margin: 0 8px;
  }
}

.navigation__link_default {
  color: var(--color-blue);

  &:hover {
    color: var(--color-primary);
  }
}

.navigation__link_active {
  color: var(--color-primary);
  position: relative;

  &::after {
    content: "";
    height: 2px;
    width: 100%;
    display: inline-block;
    background-color: var(--color-blue);
    position: absolute;
    bottom: -3px;
    left: 0;
  }
}

.container {
  padding: 0px 12px;
}

.navigation {
  @include flex(start);
  gap: 20px;
}

.block_center {
  margin-left: auto;
  margin-right: auto;
}

// MEDIA SCREEN Desktop from 1024px to max
@media screen and (min-width: 1023px) {
  .block_hide {
    display: none;
  }

  .header-row {
    @include flex(start);
  }
}
