@import "~normalize.css";
@import "./generalStyles.scss";
@import "./fonts.scss";

body {
  background-color: var(--bg-secondary);
}

// -----Shared styles
.title-font {
  font: var(--font-xl-w900);
  text-align: center;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 7px;
    height: 16px;
    border-radius: 1px;
    background-color: var(--color-accent);
    display: inline-block;
    transform: skew(-25deg);
    margin: 0 8px;
  }
}

.navigation__link_default {
  color: var(--color-blue);

  &:hover {
    color: var(--color-primary);
  }
}

.navigation__link_active {
  color: var(--color-primary);
  position: relative;

  &::after {
    content: "";
    height: 2px;
    width: 100%;
    display: inline-block;
    background-color: var(--color-blue);
    position: absolute;
    bottom: -3px;
    left: 0;
  }
}

.container {
  padding: 0px 12px;
}

.navigation {
  @include flex(start);
  gap: 20px;
}

.block_center {
  margin-left: auto;
  margin-right: auto;
}

// ----------Header
.header_white {
  background-color: var(--bg-primary);
}

.header {
  @include flex(space-between);
}

.header__menu_default,
.lang-switcher {
  font: var(--font-m-w900);
  color: var(--color-primary);
}

.menu__item:hover {
  color: var(--color-lightBlue);
}

.menu__item-icon::after {
  content: "";
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 1px;
}

.menu__item-icon:hover::after {
  content: "";
  background-image: url("../images/icons/arrowBlue.svg");
  background-repeat: no-repeat;
}

.lang-switcher__item {
  margin-left: 8px;
}

// ----------Forecasts section
.navigation__link {
  font: var(--font-m-w900);
}

// List-card
.body_rounded_white {
  border-radius: 12px;
  background-color: var(--bg-primary);
}

.card {
  position: relative;
}

.card__label {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  font: var(--font-s-w900);
  text-transform: uppercase;
  border-radius: 12px;
  padding: 4px 12px;
}

.card__label_orange {
  border: 3px solid var(--color-accent);
  background-color: var(--color-orange);
  color: var(--color-primary);
}

.card__banner {
  @include flex(space-between);
  padding: 31px 37px;

  background-image: url("../images/cardbBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__image {
  display: block;
  width: 67px;
  height: auto;
}

.card__info_inner {
  padding: 16px 20px 20px 20px;
}

.card__info-item {
  font: var(--font-s-w400);
}

.card__info-item_bold_blue {
  color: var(--color-blue);
  font-weight: var(--w900);
}

.card__info-item_grey {
  color: var(--color-secondary);
}

.card__info-title {
  font: var(--font-l-w700);
  margin-top: 4px;
}

.button {
  display: block;
  font: var(--font-m-w900);
  border-radius: 20px;
  outline: none;
  border-style: none;
}

.button_text {
  // padding: 1px;
  padding: 6px 8px;
  background-color: transparent;
  color: var(--color-blue);

  &:hover {
    background-color: var(--color-lightBlue10);
  }
}

.button__arrow {
  margin-left: 10px;
  display: block;
}

.button_outline {
  border: 3px solid var(--color-lightBlue);
  color: var(--color-primary);
  box-sizing: border-box;
  padding: 10px 12px 10px 20px;

  &:hover {
    background-color: var(--color-lightBlue);
    color: var(--bg-primary);
  }

  &::after {
    content: "";
    background-image: url("../images/icons/arrowButton.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 14px;
    margin-left: 10px;
  }

  &:hover::after {
    content: "";
    background-image: url("../images/icons/arrowButtonWhite.svg");
  }
}

.button_contained {
  background-color: var(--color-lightBlue);
  color: var(--bg-primary);
  padding: 10px 44px;
}

.cursor_pointer {
  cursor: url("../images/icons/cursor.png"), pointer;

  transition: all 100ms linear;
}

// ------------Match
.match__item {
  display: grid;
  align-items: center;

  &:hover {
    box-shadow: 0px 4px 12px #63709312;
  }
}

.match__item_inner {
  padding: 8px 16px 16px 16px;
}

.match__item-el {
  font: var(--font-m-w400);
}

.match__item-el_grey {
  color: var(--color-secondary);
}

.match__item-el_black,
.match__item-points {
  color: var(--color-primary);
}

.match__item-el_end {
  margin-left: auto;
}

.match__icon {
  @include widthHeight(24px, 24px);
}

.match__item-number-reverse,
.match__item-number,
.match__item-points {
  font: var(--font-l-w900);
}

.match-btn::before {
  content: "";
  background-image: url("../images/icons/forecastIcon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 16px;
  height: 16px;
}

.match__calendar-btn {
  padding-top: 1px;

  &::before {
    content: "";
    background-image: url("../images/icons/calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
  }
}

// ---------Top Leagues
.leagues-header__title {
  margin-bottom: 16px;
}

.leagues__list {
  padding: 16px;
  height: 595px;
}

.block_row {
  @include flex(start);
}

.leagues__list-item {
  gap: 8px;
  margin-bottom: 20px;
  font: var(--font-m-w600);
  cursor: pointer;
}

.leagues__list-item_default {
  color: var(--color-primary);

  &:hover {
    color: var(--color-blue);
  }
}

.leagues__icon {
  width: 20px;
  height: 20px;
}

// MEDIA SCREEN Mobile from 320px to 1023px
@media screen and (max-width: 1023px) {
  // ----------Header
  .header {
    height: 56px;
    position: relative;
  }

  .header__logo {
    margin-left: auto;
    margin-right: auto;
  }

  .header__logo-img {
    display: block;
    width: 141px;
    height: 24px;
  }

  .bg_active {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary32);
    z-index: 10;
    transition: background-color 100ms linear;
  }

  .header__menu_mobile {
    width: 296px;
    height: 100vh;
    background-color: var(--bg-primary);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 200ms linear;
  }

  .header__menu_mobile-active {
    transform: translateX(0);
  }

  .header__logo-mobile {
    @include flex(space-between);
    margin-bottom: 20px;
    padding: 16px 12px 0px 28px;
  }

  .menu__item_mobile {
    padding: 12px 13px 12px 32px;

    &:hover {
      background-color: var(--color-lightGrey);
    }
  }

  .menu__item-icon {
    @include flex(space-between);

    &::after {
      transform: rotate(-90deg);
    }
  }

  .header,
  .forecasts-header__title {
    margin-bottom: 16px;
  }

  // ----------Forecasts section
  .forecasts {
    margin-bottom: 70px;
  }

  .navigation {
    justify-content: center;
    margin-bottom: 15px;
  }

  .match__navigation {
    justify-content: start;
  }

  // List-card
  .forecasts__cards {
    margin-top: 8px;
    margin-bottom: 30px;
  }

  .card {
    @include widthHeight(336px, 266px);

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .card__banner {
    @include widthHeight(100%, 130px);
  }

  // ------------------------------Match section
  .match {
    margin-bottom: 53px;
  }
  .match__list {
    max-width: 336px;
    margin-bottom: 26px;
  }

  .match__item {
    height: 121px;
    // align-items: start;
    align-items: center;
    grid-template-columns: 1.3fr 1fr;
    margin-bottom: 12px;
  }

  .match__item-el:first-child {
    @include gridRC(1, 1, 1);
  }

  .match__item-el:nth-child(2) {
    @include gridRC(2, 1, -1);
  }
  .match__item-el:nth-child(4) {
    @include gridRC(3, 1, -1);
  }
  .match__item-el:nth-child(5) {
    @include gridRC(1, 2, 2);
  }

  .match__item-el_grey {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 12px;

    &::after {
      content: "";
      border: 0.5px solid var(--bg-secondary);
      position: absolute;
      bottom: 0;
      left: -16px;
      width: 336px;
    }
  }

  .match__item-el_hide {
    display: none;
  }

  .match__item-el_s {
    @include flex(space-between);
  }

  .match-btn {
    margin-bottom: 20px;
  }

  .match-header__title {
    margin-bottom: 24px;
  }

  .match__item-name,
  .match__item-name-reverse {
    gap: 8px;
  }

  // ---------------- Top leagues
  .leagues {
    margin-bottom: 77px;
  }

  .leagues__list {
    width: 336px;
  }
}

// MEDIA SCREEN Desktop from 1024px to max
@media screen and (min-width: 1023px) {
  .block_hide {
    display: none;
  }

  .header-row {
    @include flex(start);
  }

  // ----------Header
  .header {
    margin-bottom: 28px;
    height: 80px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1152px;
  }

  .header__menu_default {
    max-width: 580px;
    // width: 550px;
    @include flex(space-between);
    gap: 28px;
  }

  .menu__item_hide {
    display: none;
  }

  // ----------Forecasts section
  .main {
    display: grid;
    grid-template-columns: 0.7fr 2.3fr;
    gap: 24px;
    margin-bottom: 63px;
  }

  .forecasts {
    @include gridRC(1, 1, -1);
    margin-bottom: 55px;
  }

  // List-card
  .forecasts__cards {
    margin-top: 16px;
    margin-bottom: 33px;

    @include flex(space-between);
    gap: 24px;
  }

  .card {
    @include widthHeight(360px, 276px);
  }

  .card__banner {
    @include widthHeight(100%, 140px);
    padding: 34px 40px;
  }

  .card__image {
    width: 72px;
  }

  .leagues__list {
    width: 264px;
  }

  // ----------------Match-center
  .match {
    @include gridRC(2, 2, 2);
  }

  .match__header {
    margin-bottom: 25px;
  }

  .navigation {
    margin-left: 40px;
  }

  .match__calendar-btn {
    margin-left: 56px;
  }

  .match__list {
    max-width: 840px;
  }

  .match__item {
    height: 55.9px;
    grid-template-columns: 2fr 2fr 0.2fr 2fr 2fr;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .match__item_inner {
    padding: 14px 16px 14px 16px;
  }

  .match__item-el_l,
  .match__item-name-reverse {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    align-items: center;
  }

  .match__item-name,
  .match__item-number-reverse,
  .match__icon-reverse {
    @include gridRC(1, 2, 2);
  }
  .match__item-number,
  .match__item-name-reverse {
    @include gridRC(1, 1, 1);
  }

  .match__item-el_hide,
  .match__item-number,
  .match__item-number-reverse {
    text-align: center;
  }

  .match__item-name-reverse {
    justify-content: end;
    gap: 8px;
  }
  .match__item-name-reverse,
  .match__item-name {
    gap: 8px;
  }

  .match__icon {
    @include widthHeight(28px, 28px);
  }

  // ---------------- Top leagues
  .leagues {
    @include gridRC(2, 2, 1);
  }

  .leagues-header__title {
    text-align: start;
    margin-bottom: 25px;
    margin-top: 6px;
  }

  .leagues__list {
    margin-left: 0;
  }
}
